.call {
  position: relative;
  width: 320px;
  height: 220px;
  margin: 0 auto;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 320px;
    height: 50px;
    background-color: #f2f2f2;
    transform: rotate(-5deg) translateX(2px);
  }

  &::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 320px;
    height: 40px;
    background-color: #ffffff;
  }
}

.call__slogan {
  display: block;
  font-weight: normal;
  color: #283645;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.call__offer {
  color: #283645;
  font-size: 24px;
  text-align: center;
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .call {
    position: relative;
    width: 660px;
    height: 220px;
    margin: 0 auto;
    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      bottom: -25px;
      right: 0;
      width: 357px;
      height: 50px;
      background-color: #f2f2f2;
      transform: rotate(-5deg) translateX(2px);
    }

    &::after {
      content: "";
      position: absolute;
      top: -50px;
      left: 0;
      width: 660px;
      height: 50px;
      background-color: #ffffff;
    }
  }

  .call__slogan {
    font-size: 40px;
    padding-top: 10px;
  }

  .call__offer {
    width: 340px;
    margin: 5px auto;
    font-size: 40px;
    text-align: center;
    padding-top: 5px;
  }
}

