@font-face {
  font-family: "Open Sans"; /* Имя шрифта */
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Open Sans Bold"; /* Имя шрифта */
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); /* Путь к файлу со шрифтом */
}
