.our-products {
  width: 960px;
  margin: 0 auto;
}

.our-products__list {
  display: flex;
  list-style: none;
  margin: -27px 0 0 0;
  padding: 0;
}

.our-products__item {
  display: none;
  width: 280px;
  margin: 0;
  padding: 18px 0;
  overflow: hidden;
  background-color: #283645;
}

.our-products--active {
  display: block;
  margin: 0 auto;
}

.our-products__hit {
  position: relative;
  background: url("../img/bg-hit.svg") no-repeat 20px -20px;

  &::before {
    content: "хит";
    position: absolute;
    top: 10px;
    left: 20px;
    color: #ffffff;
    transform: rotate(-45deg);
  }
}

.our-products__header {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.our-products__price {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.our-products__description {
  width: 100%;
  background-color: #ffffff;
}

.our-products__description-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.our-products__description-item {
  border-bottom: 2px solid #000000;
}
