.reviews {
  position: relative;
  width: 320px;
  height: 370px;
  margin: 0 auto;
  margin-top: -90px;
  background-color: #ffffff;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 355px;
    left: -2px;
    width: 360px;
    height: 50px;
    background-color: #f2f2f2;
    transform: rotate(-4deg);
  }
}

.reviews__list {
  display: flex;
  width: 300%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__item {
  width: 100%;
  display: block;
}

.reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
}

.reviews__text {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.reviews__toggles {
  position: absolute;
  top: 290px;
  left: 40%;
  width: 70px;
  height: 25px;
  font-size: 0;
}

.slider__toggle {
  width: 10px;
  height: 10px;
  border: 1px solid #f2f2f2;
  padding: 0;
  border-radius: 50%;
  margin-right: 15px;
}

.slider__toggle:last-child {
  margin-right: 0;
}

.slider--active {
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  background-color: transparent;
}
