body {
  min-width: 320px;
  height: 2000px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


footer {
  display: none;
}
